<polymer-element name="main-view">
  <template>
    <link rel="stylesheet" href="main_view.css" />

    <h1>The Beer Song</h1>
      
    <div class="box-container">
      <form on-submit="{{submit}}">
        <div>
          <input id="spellout_cb" type="checkbox" checked="{{spellOutNumbers}}">
          <label for="spellout_cb"> Spell out numbers</label>
        </div>

        <button class="btn btn-default" on-click="{{sing}}"><span class="glyphicon glyphicon-music"></span> Sing</button>
      </form>

      <textarea value="{{song}}" spellcheck="false" contenteditable="false"></textarea>
    </div>
  </template>
  
  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>