<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="packages/core_elements/core_header_panel.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="packages/paper_elements/paper_checkbox.html">

<polymer-element name="app-view">
  <template>
    <style>
      :host {
        height: 100%;
      }

      #wrapper {
        padding-top: 10px;
      }

      .app-title {
        text-align: center;
      }

      .user-select-none {
        user-select: none;
      }

      textarea {
        width: 575px;
        height: 400px;
        padding: 3px;
        resize: none;
      }

      .control-panel {
        width: 571px;
        padding: 5px;
      }

      /* target the paper-button's label */
      paper-button /deep/ #content > span {
        margin-left: 0;
        text-transform: none;
      }

      paper-button /deep/ #icon {
        margin-right: 2px;
      }
    </style>

    <core-header-panel flex>
      <core-toolbar>
        <h2 class="app-title" flex>The Beer Song</h2>
      </core-toolbar>

      <div id="wrapper" layout vertical center class="user-select-none">
        <div layout horizontal center justified class="control-panel">
          <paper-button iconSrc="../../resources/images/note.svg" on-tap="{{sing}}">Sing</paper-button>

          <div layout horizontal center style="padding-right: 5px;">
            <paper-checkbox id="spellout_cb" checked="{{spellOutNumbers}}"></paper-checkbox>
            <label style="margin-left: -10px;">Spell out numbers</label>
          </div>
        </div>

        <textarea value="{{song}}" spellcheck="false" readonly></textarea>
      </div>
    </core-header-panel>
  </template>

  <script type="application/dart" src="app_view.dart"></script>
</polymer-element>